* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    background-color: #000000;

}

.nav-container {
    display: flex;
    gap: 0.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .2rem;
    font-size: 12px;
}

.nav-container a {
    color: white;
    text-decoration: none;
}

.view-mode {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.grid-icon {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}