* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    background-color: #000000;

}

.nav-container {
    display: flex;
    gap: 0.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .2rem;
    font-size: 12px;
}

.nav-container a {
    color: white;
    text-decoration: none;
}

.view-mode {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.grid-icon {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
}

main {
    flex-grow: 1;
    overflow: auto;
    background-color: #000000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-overlay {
    background-color: rgba(58, 58, 58, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.video-card {
    position: relative;
}

.footer-container {
    display: flex;
    background-color: #222222;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-left, .btn-central {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 11px;
    gap: 1rem;
}

footer .btn-left a{
    text-decoration: none;
    color: white;
}

.footer-container i {
    font-size: 25px;
    padding-bottom: .2rem;
}

.btn-left .freccia i {
    font-size: 10px;
}

footer .btn-central a{
    text-decoration: none;
    color: white;
}

.btn-central .freccia i {
    font-size: 10px;
}

footer .end-button, a {
    color: red;
    text-decoration: none;
}

.end-button {
    padding: 20px;
    background-color: #4a4a4a;
    font-size: 11px;
    margin-top: -4px;
    margin-bottom: -4px;
}